<% form_for :event, @event, events_path do |f| -%>
  <p>
    <label for='user'>User:</label>
    <%= text_field_tag :user %>
  </p>
  <p>
    <label for='password'>Password:</label>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= f.label :location_id %>
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </p>

  <%= submit_tag "Create" %>

<% end -%>
